# System
**/.DS_Store

# Editor
**/*.asv

# KSSOLV Toolbox Project files
**/*.ks

# Test Data Directory
data/

# P-Code files
**/*.p

# MATLAB Toolbox file
*.mltbx

# MATLAB Buildtool
.buildtool/

# KSSOLV Core
+kssolv/+core/
