# System
**/.DS_Store

# Editor
**/*.asv

# KSSOLV Toolbox Project files
**/*.ks

# Test Data Directory
data/

# P-Code files
**/*.p

# MATLAB Toolbox file
*.mltbx

# MATLAB Buildtool
.buildtool/

# Debug scipts
Untitled*

# Build Output
StandaloneDesktopApp/
Toolbox/

# Environment variable configurations
.env

# Code Analyzer
derived/